<nav
  id="navbar"
  [class]="
    isMain
      ? 'navbar navbar-expand-lg fixed-top py-3 d-block'
      : 'navbar navbar-expand-lg bg-white fixed-top py-3 d-block'
  "
  data-navbar-on-scroll="data-navbar-on-scroll"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#goTop">
      <img
        id="logo"
        [src]="
          isMain
            ? 'https://garbrix.com/intelipadel/assets/images/logo-intelipdale-white.png'
            : 'https://garbrix.com/intelipadel/assets/images/logo_intelipadel.png'
        "
        alt="Intelipadel"
        height="30"
        class="logo d-inline-block align-text-top"
      />
    </a>

    <div class="d-sm-block d-md-none">
      <div class="text-center">
        <button
          *ngIf="isLogged"
          class="btn btn-outline-light btn-sm"
          (click)="goToMyDashboard()"
        >
          {{ titlePage }}
        </button>
        <button
          *ngIf="!isLogged"
          class="btn btn-outline-dark btn-sm ms-1"
          (click)="login()"
        >
          <fa-icon [icon]="faUserCircle"></fa-icon>
        </button>
        <div *ngIf="isLogged" class="dropdown additional-content">
          <button
            class="btn btn-sm btn-outline-dark dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <fa-icon [icon]="faUserCircle"></fa-icon>
            <span *ngIf="isLogged"> {{ user?.full_name }}</span>
          </button>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="dropdownMenuButton"
          >
            <li>
              <button class="dropdown-item" (click)="logout()">
                Cerrar sesión
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="d-none d-md-block">
      <button
        *ngIf="isLogged"
        class="btn btn-outline-light btn-sm changeable-button"
        (click)="goToMyDashboard()"
      >
        {{ titlePage }}
      </button>
      <button
        *ngIf="!isLogged"
        class="btn btn-sm btn-outline-light me-1 order-0 changeable-button"
        (click)="login()"
      >
        <fa-icon [icon]="faUserCircle"></fa-icon>
      </button>
      <div *ngIf="isLogged" class="dropdown additional-content">
        <button
          class="btn btn-sm btn-outline-light dropdown-toggle changeable-button"
          type="button"
          id="dropdownMenuButton"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <fa-icon [icon]="faUserCircle"></fa-icon>
          <span *ngIf="isLogged"> {{ user?.full_name }}</span>
        </button>
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="dropdownMenuButton"
        >
          <li>
            <button class="dropdown-item" (click)="logout()">
              Cerrar sesión
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
