<p-dialog
  [(visible)]="display"
  [modal]="true"
  [style]="{ width: '50vw', height: '100vh' }"
  position="center"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  (onHide)="onDialogHide()"
>
  <!-- Step 1: Users Table -->
  <div class="user-panel_container">
    <div class="container-fluid">
      <div *ngIf="currentStep === 2" class="row text-center mb-3">
        <div class="col-sm-12">
          <div class="user-panel_title">
            <span class="user-panel_title-bold">Nuevo usuario</span>
            <button
              type="button"
              class="btn-close float-end"
              aria-label="Close"
              (click)="closeDialog()"
            ></button>
          </div>
        </div>
      </div>
      <div *ngIf="currentStep === 1" class="row text-center mb-3">
        <div class="col-sm-12">
          <div class="user-panel_title">
            <span class="user-panel_title-bold">Usuarios</span>
            <button
              type="button"
              class="btn-close float-end"
              aria-label="Close"
              (click)="closeDialog()"
            ></button>
          </div>
        </div>
      </div>
      <div *ngIf="currentStep === 1" class="row text-center mb-3">
        <div class="col-sm-12">
          <button class="btn btn-primary float-end" (click)="nextStep()">
            <fa-icon [icon]="faPlusCircle"></fa-icon> Crear Usuario
          </button>
        </div>
      </div>
      <div *ngIf="currentStep === 1" class="row">
        <div class="col-sm-12">
          <p-table
            [value]="users"
            [paginator]="true"
            [rows]="25"
            [responsiveLayout]="'scroll'"
            paginatorPosition="bottom"
            class="custom-p-table"
          >
            <ng-template pTemplate="header">
              <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th>Fecha de Nacimiento</th>
                <th>Acciones</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user>
              <tr>
                <td>{{ user.full_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.date_of_birth | date : "dd/MM/yyyy" }}</td>
                <td>
                  <button class="btn btn-outline-primary btn-sm">
                    <fa-icon [icon]="faPencilAlt"></fa-icon>
                  </button>
                  <button class="btn btn-outline-danger btn-sm ms-2">
                    <fa-icon [icon]="faTrashAlt"></fa-icon>
                  </button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>

      <div *ngIf="currentStep === 2" class="row">
        <div class="col-sm-12">
          <form [formGroup]="createUserForm" (ngSubmit)="onSubmit()">
            <div class="form-group mb-2">
              <label for="full_name">Nombre</label>
              <input
                type="text"
                id="full_name"
                formControlName="full_name"
                class="form-control"
              />
            </div>
            <div class="form-group mb-2">
              <label for="email">Email</label>
              <input
                type="email"
                id="email"
                formControlName="email"
                class="form-control"
              />
            </div>
            <div class="form-group mb-4">
              <label for="date_of_birth">Fecha de Nacimiento</label>
              <input
                type="date"
                id="date_of_birth"
                formControlName="date_of_birth"
                class="form-control"
              />
            </div>
            <div class="form-group text-center">
              <button
                type="button"
                pButton
                icon="pi pi-times"
                label="Cancelar"
                (click)="previousStep()"
              ></button>
              <button
                type="submit"
                pButton
                icon="pi pi-check"
                label="Crear"
              ></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</p-dialog>
