<app-header [isMain]="false" [isNeutral]="true"></app-header>
<section
  class="d-flex justify-content-center align-items-center main-container bg-white my-5"
>
  <div class="container mt-5">
    <div class="row">
      <div class="col-sm-12">
        <h1>
          Términos Y Condiciones De Uso De
          <span *ngIf="!isClubTerms">Plataforma “INTELIPADEL”</span
          ><span *ngIf="isClubTerms">{{ termsAndConditions.title }}</span>
        </h1>

        <hr />
        <div class="col-sm-12" *ngIf="!isClubTerms">
          <p style="text-align: right">
            <span style="font-weight: 400"
              >&Uacute;ltima actualizaci&oacute;n: 04 de Diciembre de 2024</span
            >
          </p>
          <p>&nbsp;</p>
          <p data-pm-slice="1 1 []">
            <span
              >Convenio de adhesión para el uso de la plataforma de agenda y
              administración de canchas de pádel de Intelipadel que celebran por
              una parte, Intelipadel S.A. de C.V. y, por la otra, el usuario,
              sujetándose ambas partes a lo establecido en este documento.</span
            >
          </p>
          <h4>
            <span><strong>Identidad y Consentimiento.</strong></span>
          </h4>
          <p>
            <span
              >La plataforma de Intelipadel pertenece a Intelipadel S.A. de C.V.
              (en adelante, "Intelipadel", "nosotros" o "la empresa",
              indistintamente) y es operada por la misma y/o sus
              colaboradores.</span
            >
          </p>
          <p>
            <span
              >Al ingresar y utilizar esta plataforma, el usuario está aceptando
              los Términos y Condiciones de Uso contenidos en este convenio y
              declara expresamente su aceptación y consentimiento, utilizando
              para tal efecto medios electrónicos, en los términos de lo
              dispuesto por el artículo 1803 del Código Civil Federal. En caso
              de no aceptar en forma absoluta y completa los Términos y
              Condiciones de este convenio, el usuario deberá abstenerse de
              acceder, utilizar y observar la plataforma de Intelipadel.</span
            >
          </p>
          <p>
            <span
              >La sola utilización de la plataforma otorga al usuario la
              condición de tal y, en caso de que acceda, utilice y observe la
              plataforma, se considerará como una absoluta y expresa aceptación
              de los Términos y Condiciones de Uso aquí estipulados.</span
            >
          </p>
          <h4>
            <span><strong>Licencia.</strong></span>
          </h4>
          <p>
            <span
              >Por virtud de la celebración de este convenio, Intelipadel otorga
              y concede al usuario el derecho no exclusivo, revocable y no
              transferible de ver y utilizar la plataforma, de conformidad con
              los Términos y Condiciones de Uso que aquí se estipulan.</span
            >
          </p>
          <p>
            <span
              >El usuario sólo podrá imprimir y/o copiar la información
              contenida o publicada en la plataforma exclusivamente para uso
              personal, quedando terminantemente prohibido el uso comercial de
              dicha información.</span
            >
          </p>
          <p>
            <span
              >La reimpresión, publicación, distribución, asignación,
              sublicencia, venta, reproducción electrónica o por otro medio,
              parcial o total, de cualquier información, documento o gráfico,
              incluida la disposición y presentación de todos los materiales,
              que aparezca en la plataforma, le está expresamente prohibido al
              usuario para cualquier uso distinto al personal, a menos de que
              cuente con la autorización previa y por escrito de
              Intelipadel.</span
            >
          </p>
          <h4>
            <span><strong>Reglas de uso para la plataforma.</strong></span>
          </h4>
          <p>
            <span
              >El usuario y Intelipadel están de acuerdo en que la utilización
              de la plataforma se sujetará a las siguientes reglas:</span
            >
          </p>
          <ul>
            <li>
              <span
                >El usuario acepta y reconoce que la información publicada o
                contenida en la plataforma será claramente identificada de forma
                tal que se reconozca que la misma proviene y ha sido generada
                por Intelipadel o por sus colaboradores.</span
              >
            </li>
            <li>
              <span
                >Intelipadel no se hace responsable de la información contenida
                en la plataforma, en el entendido de que el uso y seguimiento de
                la misma es bajo riesgo y responsabilidad del usuario.</span
              >
            </li>
            <li>
              <span
                >Intelipadel no es responsable de cualquier problema,
                circunstancia, evento o acuerdo generado entre el club de pádel
                y el usuario. La relación entre el usuario y el club de pádel es
                independiente de Intelipadel, y cualquier disputa, cobro,
                cancelación o modificación de reservas deberá ser tratada
                directamente entre ambas partes.</span
              >
            </li>
            <li>
              <span
                >Intelipadel se reserva el derecho de suprimir o modificar el
                contenido de la plataforma que, a su exclusivo juicio, no cumpla
                con sus estándares o que pudiera resultar contrario al
                ordenamiento jurídico vigente.</span
              >
            </li>
            <li>
              <span
                >Ningún usuario deberá enviar o transmitir materiales que sean
                obscenos, ofensivos, difamatorios, calumniosos, pornográficos,
                etc.</span
              >
            </li>
          </ul>
          <h4>
            <span><strong>Políticas de pago.</strong></span>
          </h4>
          <p>
            <span
              >Los usuarios que deseen adquirir servicios a través de la
              plataforma podrán realizar su pago a través de los medios de pago
              habilitados. Intelipadel no se hace responsable por deficiencias
              en el servicio, errores o reclamaciones que puedan existir entre
              el usuario y los proveedores de pago externos, ni por pagos
              realizados directamente entre el usuario y el club de pádel.</span
            >
          </p>
          <h4>
            <span><strong>Políticas de reclamación.</strong></span>
          </h4>
          <p>
            <span
              >En caso de cualquier falla en la plataforma, el usuario podrá
              notificarlo a través de los canales de contacto proporcionados por
              Intelipadel. Cualquier reclamación relacionada con reservas, pagos
              o condiciones de uso de las canchas deberá ser dirigida
              directamente al club de pádel correspondiente.</span
            >
          </p>
          <h4>
            <span><strong>Protección de Datos Personales.</strong></span>
          </h4>
          <p>
            <span
              >Los usuarios reconocen que, al proporcionar la información de
              carácter personal solicitada a través de la plataforma, otorgan a
              Intelipadel el consentimiento señalado en la Ley Federal de
              Protección de Datos Personales en Posesión de los Particulares.
              Para estos efectos, el usuario acepta y reconoce que consultará el
              Aviso de Privacidad señalado para tal efecto.</span
            >
          </p>
          <h4>
            <span><strong>Propiedad Intelectual.</strong></span>
          </h4>
          <p>
            <span
              >Intelipadel, su plataforma, sus logotipos y todo el material que
              aparece en dichos sitios, son marcas, nombres de dominio, nombres
              comerciales y obras artísticas propiedad de sus respectivos
              titulares y están protegidos por los tratados internacionales y
              las leyes aplicables en materia de propiedad intelectual y
              derechos de autor.</span
            >
          </p>
          <p><span>Negación de garantías.</span></p>
          <p>
            <span
              >Intelipadel no garantiza que la plataforma satisfaga los
              requerimientos del usuario o que los servicios que en ella se
              ofrecen no sufran interrupciones, sean seguros o estén exentos de
              errores.</span
            >
          </p>
          <h4>
            <span><strong>Limitaciones a la responsabilidad.</strong></span>
          </h4>
          <p>
            <span
              >Intelipadel no será responsable por daño alguno, sea directo,
              indirecto, incidental, etc., que resulte del uso de la
              plataforma.</span
            >
          </p>
          <h4>
            <span><strong>Comunicaciones.</strong></span>
          </h4>
          <p>
            <span
              >Intelipadel no está obligada a contestar o recuperar
              comunicaciones o diálogos contenidos en la plataforma ni se hace
              responsable por cualquier error, difamación, calumnia, omisión,
              falsedad, obscenidad, daño, etc.</span
            >
          </p>
          <h4>
            <span><strong>Cesión de derechos.</strong></span>
          </h4>
          <p>
            <span
              >Intelipadel podrá ceder total o parcialmente sus derechos y
              obligaciones derivados del presente convenio en cualquier momento
              y cuando así lo estime conveniente.</span
            >
          </p>
          <p>
            <span
              >No renuncia de derechos. La inactividad por parte de Intelipadel
              al ejercicio de cualquier derecho o acción derivados del presente
              convenio, en ningún momento deberá interpretarse como renuncia a
              dichos derechos o acciones.</span
            >
          </p>
          <h4>
            <span><strong>Legislación aplicable y jurisdicción.</strong></span>
          </h4>
          <p>
            <span
              >Este convenio estará sujeto y será interpretado de acuerdo con
              las leyes y ante los tribunales de la Ciudad de México.</span
            >
          </p>
          <p><br /><br /><br /></p>
        </div>
        <div class="col-sm-12" *ngIf="isClubTerms">
          <p style="text-align: right">
            <span style="font-weight: 400"
              >&Uacute;ltima actualizaci&oacute;n:
              {{ termsAndConditions.terms_and_conditions_date }}</span
            >
          </p>
          <p>&nbsp;</p>
          <div [innerHTML]="termsAndConditions.terms_and_conditions"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
