<p-dialog
  [(visible)]="display"
  [modal]="true"
  [style]="{ width: '90vw' }"
  position="center"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  (onHide)="closeDialog()"
>
  <div class="prices-panel_container">
    <div class="container-fluid">
      <div class="row text-center mb-3">
        <div class="col-sm-12">
          <div class="prices-panel_title">
            <span class="prices-panel_title-bold">Precios</span>
            <button
              type="button"
              class="btn-close float-end"
              aria-label="Close"
              (click)="closeDialog()"
            ></button>
          </div>
        </div>
      </div>
      <div *ngIf="currentStep === 1" class="row">
        <div class="container">
          <div class="row">
            <div
              [class]="
                isSpecialPrice
                  ? 'col-sm-6 text-center'
                  : 'col-sm-12 text-center'
              "
            >
              <div class="container">
                <div class="row mb-3">
                  <div *ngIf="isSpecialPrice" class="col-sm-12">
                    <h4>Precio fijo</h4>
                  </div>
                </div>
                <div class="row">
                  <div
                    class="list-group text-start"
                    *ngFor="let price of prices?.fixedPrices; let i = index"
                  >
                    <div class="list-group-item list-group-item-action">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">
                          Precio {{ i + 1 }}:
                          <strong class="float-end ms-3">{{
                            price.price | currency
                          }}</strong>
                        </h5>
                      </div>
                      <p class="mb-1">
                        {{ fomatTime(price.platforms_fields_price_start_time) }}
                        -
                        {{ fomatTime(price.platforms_fields_price_end_time) }}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-sm-12">
                    <button class="btn btn-dark" (click)="modifyFixedPrice()">
                      <fa-icon [icon]="faPencil"></fa-icon> Modificar precio
                      fijo
                    </button>
                    <button
                      *ngIf="!isSpecialPrice"
                      class="btn btn-dark ms-1"
                      (click)="nextStep()"
                    >
                      <fa-icon [icon]="faPlus"></fa-icon> Agregar precio
                      especial
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="isSpecialPrice" class="col-sm-6 text-center">
              <div class="container">
                <div class="row mb-3">
                  <div class="col-sm-12">
                    <h4>Precio especial</h4>
                  </div>
                </div>
                <div class="row">
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Precio</th>
                          <th>Fecha</th>
                          <th>Hora de inicio</th>
                          <th>Hora de fin</th>
                          <th>Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          *ngFor="
                            let price of prices?.specialPrices;
                            let i = index
                          "
                        >
                          <td>{{ i + 1 }}</td>
                          <td>{{ price.price | currency }}</td>
                          <td>
                            {{
                              formatDateString(
                                price.platforms_fields_price_start_time
                              )
                            }}
                          </td>
                          <td>
                            {{
                              fomatTime(price.platforms_fields_price_start_time)
                            }}
                          </td>
                          <td>
                            {{
                              fomatTime(price.platforms_fields_price_end_time)
                            }}
                          </td>
                          <td>
                            <button
                              class="btn btn-outline-danger btn-sm"
                              (click)="confirmDeleteSpecialPrice(price)"
                            >
                              <fa-icon [icon]="faTrashAlt"></fa-icon>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <button class="btn btn-dark" (click)="nextStep()">
                      <fa-icon [icon]="faPlus"></fa-icon> Agregar precio
                      especial
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="currentStep === 2" class="row">
        <div class="col-sm-12">
          <form
            [formGroup]="specialPriceForm"
            (ngSubmit)="onSubmitSpecialPrice()"
          >
            <div class="form-group mb-2">
              <label for="price">Precio</label>
              <input
                type="number"
                id="price"
                formControlName="price"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    specialPriceForm.get('price')?.invalid &&
                    specialPriceForm.get('price')?.touched
                }"
              />
            </div>
            <div class="form-group mb-2">
              <label for="date">Fecha</label>
              <input
                type="date"
                id="date"
                formControlName="date"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    specialPriceForm.get('date')?.invalid &&
                    specialPriceForm.get('date')?.touched
                }"
              />
            </div>
            <div class="form-group mb-2">
              <label for="start_time">Hora de inicio</label>
              <input
                type="time"
                id="start_time"
                formControlName="start_time"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    specialPriceForm.get('start_time')?.invalid &&
                    specialPriceForm.get('start_time')?.touched
                }"
              />
            </div>
            <div class="form-group mb-2">
              <label for="end_time">Hora de fin</label>
              <input
                type="time"
                id="end_time"
                formControlName="end_time"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    specialPriceForm.get('end_time')?.invalid &&
                    specialPriceForm.get('end_time')?.touched
                }"
              />
            </div>
            <div class="form-group text-center">
              <button
                type="button"
                class="btn btn-outline-danger"
                (click)="previousStep()"
              >
                Atrás
              </button>
              <button type="submit" class="btn btn-primary ms-2">
                <fa-icon [icon]="faPlus"></fa-icon> Crear precio especial
              </button>
            </div>
          </form>
        </div>
      </div>

      <div *ngIf="currentStep === 3" class="row">
        <div class="col-sm-12">
          <form [formGroup]="fixedPriceForm" (ngSubmit)="onSubmitFixedPrice()">
            <div formArrayName="timeRanges">
              <div
                *ngFor="let timeRange of timeRanges.controls; let i = index"
                [formGroupName]="i"
                class="form-group mb-2"
              >
                <label for="price_{{ i }}">Precio</label>
                <input
                  type="number"
                  id="price_{{ i }}"
                  formControlName="price"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      timeRange.get('price')?.invalid &&
                      timeRange.get('price')?.touched
                  }"
                />
                <label for="start_time_{{ i }}">Hora de inicio</label>
                <input
                  type="time"
                  id="start_time_{{ i }}"
                  formControlName="start_time"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      timeRange.get('start_time')?.invalid &&
                      timeRange.get('start_time')?.touched
                  }"
                />
                <label for="end_time_{{ i }}">Hora de fin</label>
                <input
                  type="time"
                  id="end_time_{{ i }}"
                  formControlName="end_time"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      timeRange.get('end_time')?.invalid &&
                      timeRange.get('end_time')?.touched
                  }"
                />
                <button
                  type="button"
                  class="btn btn-danger mt-2"
                  (click)="removeTimeRange(i)"
                >
                  Eliminar rango
                </button>
              </div>
            </div>
            <div class="form-group text-center">
              <button
                type="button"
                class="btn btn-outline-primary"
                (click)="addTimeRange()"
              >
                Agregar rango de tiempo
              </button>
            </div>
            <div *ngIf="!isTimeRangeValid" class="alert alert-danger mt-3">
              Para modificar el precio, debes cubrir todo el rango de 08:00 AM a
              11:00 PM.
            </div>
            <div class="form-group text-center mt-3">
              <button
                type="button"
                class="btn btn-outline-danger"
                (click)="previousStep()"
              >
                Atrás
              </button>
              <button type="submit" class="btn btn-primary ms-2">
                <fa-icon [icon]="faPencil"></fa-icon> Modificar precio fijo
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</p-dialog>

<p-dialog
  header="Confirmar Eliminación"
  [(visible)]="confirmDeleteDialog"
  [modal]="true"
  [style]="{ width: '30vw' }"
  (onHide)="closeConfirmDeleteDialog()"
>
  <div class="text-center">
    <div class="container">
      <div class="row mt-3">
        <div class="col-sm-12">
          <h5 class="mb-3">
            ¿Está seguro de que desea eliminar este precio especial?
          </h5>
          <button
            class="btn btn-outline-secondary me-2"
            (click)="closeConfirmDeleteDialog()"
          >
            No
          </button>
          <button class="btn btn-danger" (click)="deleteSpecialPrice()">
            Sí
          </button>
        </div>
      </div>
    </div>
  </div>
</p-dialog>
