<app-header [isMain]="false" [isNeutral]="true"></app-header>
<section
  class="d-flex justify-content-center main-container pt-5 pb-5"
  id="goTop"
>
  <div class="container my-5">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3>Cerrar tu cuenta de {{ userInformation.title }}</h3>
        <h5 class="mt-4">Lee esto detenidamente</h5>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-sm-12">
        <p class="lead">
          Estás a punto de solicitar el cierre definitivo de tu cuenta en
          {{ userInformation.title }}. Una vez que se cierre, perderás acceso a
          todas tus reservas, membresías y cualquier servicio asociado. Por
          ejemplo, si cierras tu cuenta desde esta plataforma, ya no podrás
          apartar canchas, inscribirte en torneos ni disfrutar de los beneficios
          exclusivos para socios. Al confirmar esta solicitud, aceptas que
          perderás acceso a los siguientes servicios mencionados anteriormente.
        </p>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-sm-12">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Tu cuenta:</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                {{ userInformation.full_name }}<br />
                {{ userInformation.email }}<br />
                Fecha de nacimiento: {{ userInformation.date_of_birth }}<br />
              </td>
            </tr>
            <tr>
              <td>
                Fecha de registro: {{ userInformation.date_created }}<br />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-sm-12">
        <strong>
          Selecciona el motivo principal para cerrar tu cuenta de
          {{ userInformation.title }}:
        </strong>
        <form
          [formGroup]="whyForm"
          (ngSubmit)="onSubmit()"
          *ngIf="!isDeactivated"
        >
          <div class="form-group">
            <select
              class="form-control"
              id="motivation"
              formControlName="motivation"
            >
              <option value="" disabled selected>Selecciona un motivo</option>
              <option
                *ngFor="let motivation of motivations"
                [value]="motivation.id"
              >
                {{ motivation.name }}
              </option>
            </select>
            <div
              *ngIf="
                whyForm.get('motivation')?.invalid &&
                (whyForm.get('motivation')?.dirty ||
                  whyForm.get('motivation')?.touched)
              "
              class="text-danger"
            >
              El motivo es obligatorio.
            </div>
          </div>
          <div class="form-group mt-3">
            <label for="confirmDeactivation" class="h5">
              <input
                type="checkbox"
                id="confirmDeactivation"
                formControlName="confirmDeactivation"
              />
              Confirmo que deseo desactivar mi cuenta
            </label>
            <div
              *ngIf="
                whyForm.get('confirmDeactivation')?.invalid &&
                (whyForm.get('confirmDeactivation')?.dirty ||
                  whyForm.get('confirmDeactivation')?.touched)
              "
              class="text-danger"
            >
              Debes confirmar la desactivación de tu cuenta.
            </div>
          </div>
          <div class="container my-3">
            <div class="row">
              <div class="col-sm-12">
                Ten en cuenta que el club de pádel está legalmente obligado o
                autorizado a conservar ciertos datos, como el historial de
                reservas. Esto se hace para cumplir con las leyes aplicables,
                incluidas aquellas relacionadas con fines administrativos,
                contables y de seguridad.
              </div>
            </div>
          </div>
          <div class="container mt-3">
            <div class="row">
              <div class="col">
                <button
                  type="submit"
                  class="btn btn-primary ms-2"
                  [disabled]="whyForm.invalid"
                >
                  Enviar
                </button>
              </div>
            </div>
          </div>
        </form>
        <div class="container" *ngIf="isDeactivated">
          <div class="row">
            <div class="col text-center">
              <div
                *ngIf="isDeactivated"
                class="alert alert-dark mt-3"
                role="alert"
              >
                Tu cuenta ha sido cerrada exitosamente. Si deseas reactivarla,
                por favor, ponte en
                <a
                  href="https://intelipadel.com/necesitoayuda/padelroom"
                  target="_blank"
                  >contacto</a
                >
                con nosotros. Gracias.
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <button class="btn btn-primary mt-3" (click)="resetForm()">
                Volver
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
