<p-dialog
  [(visible)]="display"
  [modal]="true"
  [style]="{ width: '70vw' }"
  header="Balances"
  (onHide)="closeModal()"
>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Fecha</th>
              <th>Descripción</th>
              <th>Monto</th>
              <th>Estado</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let balance of balances">
              <td>{{ balance.date | date }}</td>
              <td>{{ balance.description }}</td>
              <td>{{ balance.amount | currency }}</td>
              <td>{{ balance.status }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-sm-12 text-center">
        <button class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
      </div>
    </div>
  </div>
</p-dialog>
