<app-header></app-header>
<section
  class="d-flex justify-content-center main-container pt-5 pb-5"
  id="goTop"
>
  <div class="container-fluid pt-5">
    <div class="row text-center">
      <div class="col-sm-12">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
              <h1 class="text-center">PadelRoom</h1>
            </div>
          </div>
          <div class="row text-center mt-3 mb-2">
            <div class="col-sm-12">
              <button
                class="btn btn-primary"
                (click)="displayMarkDaysModal = true"
              >
                <fa-icon [icon]="faCalendar"></fa-icon> Marcar días
              </button>
              <button
                class="btn btn-primary ms-2"
                (click)="displayScheduleCourtModal = true"
              >
                <fa-icon [icon]="faPlusCircle"></fa-icon> Agendar cancha
              </button>
              <button
                class="btn btn-primary ms-2"
                (click)="displayUsersModal = true"
              >
                <fa-icon [icon]="faUsers"></fa-icon> Usuarios
              </button>
              <button
                class="btn btn-primary ms-2"
                (click)="displayAnnouncementsModal = true"
              >
                <fa-icon [icon]="faNewspaper"></fa-icon> Anuncios
              </button>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-12">
              <full-calendar
                class="full-width-calendar"
                [options]="calendarOptions"
              ></full-calendar>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
<p-dialog
  maskStyleClass="backdrop-blur-sm"
  [(visible)]="displayModal"
  [modal]="true"
  [style]="{ width: '70vw' }"
>
  <div class="panel_reservation-container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="panel_reservation-title">
            Reserva para:
            <span class="panel_reservation-title-bold">{{
              selectedDateEvent ? selectedDateEvent.full_name : ""
            }}</span>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-sm-12 mb-2">
          <div class="panel_reservation-title-schedule">
            <span class="panel_reservation-title-schedule-bold">{{
              selectedDateEvent
                ? formatDateToSpanish(
                    selectedDateEvent.platforms_date_time_start
                  )
                : ""
            }}</span>
          </div>
        </div>
        <div class="col-sm-12 panel_reservation-title-schedule">
          Horario:
          <span class="panel_reservation-title-schedule-bold">{{
            selectedDateEvent
              ? fomatTime(selectedDateEvent.platforms_date_time_start)
              : ""
          }}</span>
          -
          <span class="panel_reservation-title-schedule-bold">{{
            selectedDateEvent
              ? fomatTime(selectedDateEvent.platforms_date_time_end)
              : ""
          }}</span>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-sm-12">
          <div class="float-end">
            <button class="btn btn-dark" (click)="displayValidateModal = true">
              <fa-icon [icon]="faCheckCircle"></fa-icon> Validar reserva
            </button>
            <button
              class="btn btn-outline-danger ms-2"
              (click)="displayCancelModal = true"
            >
              <fa-icon [icon]="faTrash"></fa-icon> Cancelar reserva
            </button>
            <button
              class="btn btn-outline-dark ms-2"
              (click)="displayModal = false"
            >
              Cerrar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-dialog>

<p-dialog
  [(visible)]="displayCancelModal"
  [modal]="true"
  [style]="{ width: '50vw' }"
  header="Confirmación de Cancelación"
>
  <div class="panel_reservation-container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="panel_reservation-title">
            <div class="panel_reservation-title-bold">
              ¿Está seguro de que desea cancelar esta reserva?
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-sm-12">
          <p>
            La reserva ya no podrá ser recuperada. Ya ha sido pagada y validada.
          </p>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-sm-12">
          <div class="float-end">
            <button
              class="btn btn-outline-danger ms-2"
              (click)="confirmCancellation()"
            >
              <fa-icon [icon]="faTrash"></fa-icon> Cancelar
            </button>
            <button
              class="btn btn-outline-dark ms-2"
              (click)="displayCancelModal = false"
            >
              Me equivoqué
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-dialog>

<p-dialog
  [(visible)]="displayValidateModal"
  [modal]="true"
  [style]="{ width: '50vw' }"
  header="Confirmación de Validación"
>
  <div class="panel_reservation-container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="panel_reservation-title">
            <div class="panel_reservation-title-bold">
              ¿Estás seguro de que deseas validar esta reserva?
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-sm-12">
          <div class="float-end">
            <button class="btn btn-success ms-2" (click)="confirmValidation()">
              <fa-icon [icon]="faCheckCircle"></fa-icon> Validar
            </button>
            <button
              class="btn btn-outline-dark ms-2"
              (click)="displayValidateModal = false"
            >
              Me equivoqué
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-dialog>

<app-mark-days-modal [display]="displayMarkDaysModal"></app-mark-days-modal>
<app-schedule-court-modal
  [display]="displayScheduleCourtModal"
></app-schedule-court-modal>
<app-users-modal [display]="displayUsersModal"></app-users-modal>
<app-announcements-modal
  [display]="displayAnnouncementsModal"
></app-announcements-modal>
