<app-header [isMain]="true"></app-header>
<section
  class="d-flex justify-content-center align-items-center main-container pt-5 background-image"
  id="goTop"
>
  <div class="container py-vh-4 position-relative mt-5 px-vw-5 text-center">
    <div
      class="row d-flex align-items-center justify-content-center py-vh-5 mx-auto"
      style="width: 70%"
    >
      <div class="col-12 col-xl-10" id="target-element">
        <span class="h5 text-secondary fw-lighter text-white">
          Tu marca, tu propia app
        </span>
        <h1 class="display-huge mt-3 mb-3 lh-1 text-white">
          Administra tu club de padel de forma sencilla y eficaz
        </h1>
      </div>
      <div class="col-12 col-xl-8">
        <p class="lead text-secondary handwriting-animation text-white">
          Control total, tranquilidad absoluta
        </p>
      </div>
      <div class="col-12 text-center mt-5">
        <a
          href="#vermas"
          class="btn btn-xl btn-light"
          [ngClass]="{ 'w-50': isMobile }"
          [ngClass]="{ 'w-25': !isMobile }"
          >Ver mas</a
        >
      </div>
    </div>
  </div>
</section>
<section class="bg-light py-5" id="vermas">
  <div class="container my-5">
    <div class="row my-5">
      <div class="col-sm-12">
        <h2 class="display-4 text-center text-secondary">
          Bienvenido a la Revolución del Pádel
        </h2>
        <p class="lead text-center text-secondary">
          Intelipadel es una plataforma diseñada para gestionar tu club de pádel
          de forma sencilla y eficaz. Con Intelipadel, puedes administrar
          reservas, controlar el acceso a las canchas, gestionar socios y mucho
          más, todo desde una plataforma intuitiva y amigable.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="bg-light">
  <div class="container-fluid">
    <div class="row h-100 d-flex my-5">
      <div
        class="col-sm-12 bg-light d-flex align-items-center justify-content-center"
      >
        <img
          src="https://garbrix.com/padel/assets/images/your_club_admin.png"
          alt="Booking"
          class="img-fluid responsive-image"
        />
      </div>
    </div>
    <div class="row h-100 d-flex">
      <div
        class="col-sm-4 bg-light d-flex align-items-center justify-content-center"
      >
        <div class="container my-5">
          <div class="row">
            <div class="col-12 text-center mb-2">
              <fa-icon
                [icon]="faCalendar"
                class="text-dark icon-responsive"
              ></fa-icon>
            </div>
            <div class="col-12 text-center"><h5>Gestor de Reservas</h5></div>
          </div>
          <div class="row">
            <div class="col-12">
              <p class="lead text-center text-secondary">
                Organiza y administra las reservas de las canchas de tu club de
                manera eficiente, reduciendo errores y optimizando tiempos.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-sm-4 bg-light d-flex align-items-center justify-content-center"
      >
        <div class="container my-5">
          <div class="row">
            <div class="col-12 text-center m-2">
              <fa-icon
                [icon]="faKey"
                class="text-dark icon-responsive"
              ></fa-icon>
            </div>
            <div class="col-12 text-center"><h5>Control de Accesos</h5></div>
          </div>
          <div class="row">
            <div class="col-12">
              <p class="lead text-center text-secondary">
                Garantiza un acceso seguro y ordenado a las canchas, manteniendo
                un control total sobre el uso de las instalaciones.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-sm-4 bg-light d-flex align-items-center justify-content-center"
      >
        <div class="container my-5">
          <div class="row">
            <div class="col-12 text-center mb-2">
              <fa-icon
                [icon]="faUsers"
                class="text-dark icon-responsive"
              ></fa-icon>
            </div>
            <div class="col-12 text-center"><h5>Gestor de Usuarios</h5></div>
          </div>
          <div class="row">
            <div class="col-12">
              <p class="lead text-center text-secondary">
                Administra la información de tus socios, incluyendo membresías,
                pagos y beneficios exclusivos.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row h-100 d-flex">
      <div
        class="col-sm-4 bg-light d-flex align-items-center justify-content-center"
      >
        <div class="container my-5">
          <div class="row">
            <div class="col-12 text-center mb-2">
              <fa-icon
                [icon]="faDesktop"
                class="text-dark icon-responsive"
              ></fa-icon>
            </div>
            <div class="col-12 text-center"><h5>Navegación Intuitiva</h5></div>
          </div>
          <div class="row">
            <div class="col-12">
              <p class="lead text-center text-secondary">
                Encuentra y gestiona todo lo que necesitas en cuestión de
                minutos con una interfaz rápida y fácil de usar.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-sm-4 bg-light d-flex align-items-center justify-content-center"
      >
        <div class="container my-5">
          <div class="row">
            <div class="col-12 text-center mb-2">
              <fa-icon
                [icon]="faBullhorn"
                class="text-dark icon-responsive"
              ></fa-icon>
            </div>
            <div class="col-12 text-center">
              <h5>Notificaciones y Recordatorios</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <p class="lead text-center text-secondary">
                Recibe alertas automáticas para eventos importantes,
                recordatorios de reservas y actualizaciones de tus canchas.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-sm-4 bg-light d-flex align-items-center justify-content-center"
      >
        <div class="container my-5">
          <div class="row">
            <div class="col-12 text-center mb-2">
              <fa-icon
                [icon]="faTrophy"
                class="text-dark icon-responsive"
              ></fa-icon>
            </div>
            <div class="col-12 text-center">
              <h5>Organización de Eventos, Torneos y Ligas</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <p class="lead text-center text-secondary">
                Crea y gestiona eventos, torneos y ligas de pádel con facilidad,
                manteniendo a tus usuarios informados y comprometidos.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-light py-5">
  <div class="container my-5">
    <div class="row">
      <div class="col-sm-12">
        <h4 class="display-4 text-center text-secondary">
          Haz que Intelipadel se convierta en una extensión de tu marca:
        </h4>
        <p class="lead text-center text-secondary">
          Esta personalización asegura que tu negocio destaque en el mercado
          mientras ofrece una experiencia superior a tus usuarios.
        </p>
      </div>
    </div>
    <div class="row h-100 d-flex">
      <div class="col-sm-6 d-flex align-items-center justify-content-center">
        <img
          src="https://garbrix.com/intelipadel/assets/images/your-own-app.png"
          alt="Your Own App"
          class="img-fluid"
        />
      </div>
      <div class="col-sm-6 d-flex align-items-center justify-content-center">
        <div class="container my-5">
          <div class="row mt-5">
            <div class="col-12 text-center">
              <h4 class="text-secondary">Tu propia App</h4>
            </div>
          </div>
          <div class="row mb-5">
            <div class="col-12">
              <ul class="list-group list-group-flush">
                <li class="list-group-item lead text-secondary bg-light">
                  <strong>Nombre Brandeado:</strong> Configura el nombre y los
                  colores de la aplicación para reflejar tu identidad.
                </li>
                <li class="list-group-item lead text-secondary bg-light">
                  <strong>Identidad Visual:</strong> Incluye tu logotipo y
                  diseños personalizados para una experiencia profesional.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-dark py-5">
  <div class="container my-5">
    <div class="row mt-5">
      <div class="col-sm-6" [ngClass]="{ 'mb-5': isMobile }">
        <h4 class="text-center text-white mb-4">
          <strong>Beneficios para el Usuario</strong>
        </h4>
        <ul class="text-white list-group list-group-flush mb-3">
          <li class="list-group-item bg-dark text-white">
            <fa-icon [icon]="faArrowRight" class="text-white"></fa-icon> Ahorra
            tiempo al gestionar reservas y acceder a las canchas.
          </li>
          <li class="list-group-item bg-dark text-white">
            <fa-icon [icon]="faArrowRight" class="text-white"></fa-icon>
            Disfruta de una experiencia ágil y profesional con beneficios
            exclusivos.
          </li>
          <li class="list-group-item bg-dark text-white">
            <fa-icon [icon]="faArrowRight" class="text-white"></fa-icon> Recibe
            notificaciones automáticas para eventos y recordatorios.
          </li>
          <li class="list-group-item bg-dark text-white">
            <fa-icon [icon]="faArrowRight" class="text-white"></fa-icon> Accede
            a información relevante sobre torneos, ligas y eventos.
          </li>
        </ul>
      </div>
      <div class="col-sm-6" [ngClass]="{ 'mt-5': isMobile }">
        <h4 class="text-center text-white mb-4">
          <strong>Beneficios para el Negocio</strong>
        </h4>
        <ul class="text-white list-group list-group-flush">
          <li class="list-group-item bg-dark text-white">
            <fa-icon [icon]="faArrowRight" class="text-white"></fa-icon>
            Incrementa la ocupación de las canchas y mejora la eficiencia
            operativa.
          </li>
          <li class="list-group-item bg-dark text-white">
            <fa-icon [icon]="faArrowRight" class="text-white"></fa-icon> Aumenta
            la satisfacción de tus socios al ofrecerles una herramienta
            confiable.
          </li>
          <li class="list-group-item bg-dark text-white">
            <fa-icon [icon]="faArrowRight" class="text-white"></fa-icon> Genera
            ingresos adicionales mediante la administración centralizada de
            membresías y servicios.
          </li>
          <li class="list-group-item bg-dark text-white">
            <fa-icon [icon]="faArrowRight" class="text-white"></fa-icon>
            Fortalece tu identidad con una aplicación que lleva tu sello
            personal.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="bg-light py-5">
  <div class="container mt-5">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="display-4 text-center text-secondary">
          ¡Es hora de llevar la gestión de tu club de pádel al siguiente nivel!
        </h2>
      </div>
      <div class="col-12 text-center mt-3 mb-3">
        <div class="card mt-4 mx-auto" style="width: 60vw">
          <div class="card-body container bg-light">
            <div class="row">
              <div class="col-sm-12 mb-2">
                <h3 class="card-title">¿Cuál es el precio?</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <ul
                  class="nav nav-tabs justify-content-center"
                  id="tabContainer1"
                  role="tablist"
                >
                  <li class="nav-item" role="presentation">
                    <a
                      class="nav-link active"
                      id="tab1-1"
                      data-bs-toggle="tab"
                      href="#content1-1"
                      role="tab"
                      aria-controls="content1-1"
                      aria-selected="true"
                      >México</a
                    >
                  </li>
                  <li class="nav-item" role="presentation">
                    <a
                      class="nav-link"
                      id="tab1-2"
                      data-bs-toggle="tab"
                      href="#content1-2"
                      role="tab"
                      aria-controls="content1-2"
                      aria-selected="false"
                      >Estados Unidos</a
                    >
                  </li>
                </ul>
                <div class="tab-content mt-4" id="tabContent1">
                  <div
                    class="tab-pane fade show active"
                    id="content1-1"
                    role="tabpanel"
                    aria-labelledby="tab1-1"
                  >
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item bg-light">
                        <div class="container">
                          <div class="row">
                            <div class="col-sm-12">
                              <h5>Pago único Vitalicio</h5>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-12">
                              <p class="lead text-center text-secondary">
                                $14,999.00 MXN + IVA
                              </p>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="list-group-item bg-light">
                        <div class="container">
                          <div class="row">
                            <div class="col-sm-12">
                              <h5>Comisión por servicio por transacción</h5>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-12">
                              <p class="lead text-center text-secondary">
                                5.5% + 5 MXN + IVA
                              </p>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-12">
                              <small class="econdary">
                                La comisión puede asumirla el usuario, el
                                negocio o compartirse. Cubre mantenimiento,
                                actualizaciones, nuevas funciones y soporte,
                                como en terminales físicas.
                              </small>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div
                    class="tab-pane fade"
                    id="content1-2"
                    role="tabpanel"
                    aria-labelledby="tab1-2"
                  >
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item bg-light">
                        <div class="container">
                          <div class="row">
                            <div class="col-sm-12">
                              <!--<h5>Lifetime One-Time Payment</h5>-->
                              <h5>Pago único Vitalicio</h5>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-12">
                              <p class="lead text-center text-secondary">
                                $1,100 USD + Tax
                              </p>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="list-group-item bg-light">
                        <div class="container">
                          <div class="row">
                            <div class="col-sm-12">
                              <!--<h5>Transaction Service Fee</h5>-->
                              <h5>Comisión por servicio por transacción</h5>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-12">
                              <p class="lead text-center text-secondary">
                                9% + $2 USD + Tax
                              </p>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-12">
                              <!--<small class="text-secondary">
                                The fee can be covered by the user, the
                                business, or shared. It includes maintenance,
                                updates, new features, and support, similar to
                                physical terminals.
                              </small>-->
                              <small class="econdary">
                                La comisión puede asumirla el usuario, el
                                negocio o compartirse. Cubre mantenimiento,
                                actualizaciones, nuevas funciones y soporte,
                                como en terminales físicas.
                              </small>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center mb-5">
      <div class="col-sm-12">
        <button class="btn btn-primary m-1" (click)="showContactForm = true">
          <fa-icon [icon]="faHeadset"></fa-icon> Quiero que me contacten
        </button>
        <!--<button class="btn btn-primary m-1" (click)="showContactForm = true">
          <svg
            class="svg-icon"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"
          >
            <!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
        <!--<path
              d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7 .9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z"
            />
          </svg>
          Quiero mi plataforma
        </button>-->
        <a
          href="mailto:felix@intelipadel.com?subject=Quiero%20mi%20plataforma"
          class="btn btn-primary m-1"
        >
          <fa-icon [icon]="faEnvelope"></fa-icon> Quiero mi plataforma
        </a>
      </div>
    </div>
  </div>
</section>

<p-dialog
  header="Quiero que me contacten"
  [(visible)]="showContactForm"
  [modal]="true"
  [style]="{ width: '50vw' }"
>
  <form
    *ngIf="!isContactSent"
    [formGroup]="contactForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="mb-3">
      <label for="name" class="form-label">Nombre</label>
      <input
        type="text"
        class="form-control"
        id="name"
        formControlName="name"
      />
      <div
        *ngIf="
          contactForm.get('name')?.invalid && contactForm.get('name')?.touched
        "
        class="text-danger"
      >
        El nombre es obligatorio.
      </div>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Correo Electrónico</label>
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
      />
      <div
        *ngIf="
          contactForm.get('email')?.invalid && contactForm.get('email')?.touched
        "
        class="text-danger"
      >
        Se requiere un correo electrónico válido.
      </div>
    </div>
    <div class="mb-3">
      <label for="phone" class="form-label">Teléfono</label>
      <input
        type="number"
        class="form-control"
        id="phone"
        formControlName="phone"
      />
      <div
        *ngIf="
          contactForm.get('phone')?.invalid && contactForm.get('phone')?.touched
        "
        class="text-danger"
      >
        Se requiere un teléfono válido.
      </div>
    </div>
    <div class="mb-3">
      <label for="message" class="form-label"
        >Algun mensaje adicional (opcional)</label
      >
      <textarea
        class="form-control"
        id="message"
        rows="3"
        formControlName="message"
      ></textarea>
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="contactForm.invalid"
    >
      Enviar
    </button>
  </form>
  <div *ngIf="isContactSent" class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="alert alert-success" role="alert">
          <h4 class="alert-heading">¡Gracias por contactarnos!</h4>
          <p>
            Hemos recibido tu mensaje y nos pondremos en contacto contigo a la
            brevedad.
          </p>
        </div>
      </div>
    </div>
  </div>
</p-dialog>
<app-footer></app-footer>
