<p-dialog
  [(visible)]="display"
  [modal]="true"
  [style]="{ width: '80vw' }"
  header="Marcar días"
>
  <div class="mark-days-panel_container">
    <div class="container-fluid">
      <div class="row text-center mb-3">
        <div class="col-sm-12">
          <div class="mark-days-panel_title">
            <span class="mark-days-panel_title-bold">Agendar Evento</span>
            <button
              type="button"
              class="btn-close float-end"
              aria-label="Close"
              (click)="closeDialog()"
            ></button>
          </div>
        </div>
      </div>
      <div class="row text-center mb-3">
        <div [class]="selectedDate ? 'col-sm-7' : 'col-sm-12'">
          <p-calendar
            [(ngModel)]="selectDate"
            [inline]="true"
            [showIcon]="true"
            [monthNavigator]="true"
            [yearNavigator]="false"
            [minDate]="minDate"
            [maxDate]="maxDate"
            (onSelect)="onDateSelect($event)"
          >
          </p-calendar>
        </div>
        <form
          *ngIf="selectedDate"
          class="col-sm-5"
          [formGroup]="markDaysForm"
          (ngSubmit)="onSubmit()"
        >
          <div class="container-fluid h-100">
            <div class="row h-100 align-items-center">
              <div class="col-sm-12 mb-1">
                <div class="card">
                  <div class="card-body">
                    <h5>Selecciona la cancha:</h5>
                    <p-dropdown
                      [options]="fields"
                      formControlName="selectedField"
                      [showClear]="true"
                      optionLabel="name"
                      placeholder="Ver canchas"
                      class="w-full"
                    ></p-dropdown>
                    <div
                      *ngIf="
                        markDaysForm.get('selectedField')?.invalid &&
                        markDaysForm.get('selectedField')?.touched
                      "
                      class="invalid-feedback"
                    >
                      Selecciona una cancha
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="isFieldDisabled" class="col-sm-12">
                <h5>
                  Este dia, esta cancha ya esta marcada o hay una reserva en
                  curso
                </h5>
              </div>
              <div *ngIf="!isFieldDisabled" class="col-sm-12 mb-1">
                <div class="card">
                  <div class="card-body">
                    <h5>Selecciona el horario:</h5>
                    <p-dropdown
                      [options]="timeSlots"
                      formControlName="startTime"
                      [showClear]="true"
                      optionLabel="label"
                      placeholder="Hora de inicio"
                      class="w-full"
                    ></p-dropdown>
                    <p-dropdown
                      [options]="filteredEndTimeSlots"
                      formControlName="endTime"
                      [showClear]="true"
                      optionLabel="label"
                      placeholder="Hora de fin"
                      class="w-full"
                    ></p-dropdown>
                    <div
                      *ngIf="
                        markDaysForm.get('startTime')?.invalid &&
                        markDaysForm.get('startTime')?.touched
                      "
                      class="invalid-feedback"
                    >
                      Selecciona una hora de inicio
                    </div>
                    <div
                      *ngIf="
                        markDaysForm.get('endTime')?.invalid &&
                        markDaysForm.get('endTime')?.touched
                      "
                      class="invalid-feedback"
                    >
                      Selecciona una hora de fin
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <button
                  type="submit"
                  class="btn btn-dark w-100"
                  [disabled]="!markDaysForm.valid || !markDaysForm.dirty"
                >
                  <fa-icon [icon]="faTrophy"></fa-icon> Agendar Evento
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</p-dialog>
